@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Moderustic", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: white;
  box-sizing: border-box;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;

  --color-hover-blue: rgb(75 85 99);
  --color-hover-blue-100: rgb(107 114 128);
  --color-hover-bg-blue: rgb(156 163 175);

  --primary-color-2: rgb(75 85 99);
  --primary-color-2-min-100: rgb(107 114 128);
  --primary-color-2-min-200: rgb(156 163 175);
  --primary-color-2-min-300: rgb(209 213 219);
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  font-size: 62.5% !important;
  line-height: 1.1;
}
.ant-image {
  height: 100% !important;
  display: flex;
  align-items: center;
}
img {
  object-fit: cover;
}
